@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__title{
  display: block;
  font-size: 1.5rem;
}

.note__date{
  display: block;
}

.animation{
  animation: animation-show .5s ease; 
}

@keyframes animation-show {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

